@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

/* Container styles */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 20px;
    margin-top: 150px;
    justify-items: center;
    align-items: center;
}

.container h1 {
    font-size: 86px;
    color: #333;
    font-family: poppins, sans-serif;
    padding-left: 50px;
}

.container p {
    font-size: 30px;
    color: #666;
    font-family: poppins, sans-serif;
    padding-left: 50px;
}

/*container2 styles */
.container2 {
    margin-top: 200px;
}

.container2 h1 {
    font-size: 50px;
    color: #333;
    font-family: poppins, sans-serif;
    padding-left: 50px;
}

/* Card styles */
.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(27, 27, 27, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 24px;
    color: #333;
    padding: 10px;
    font-family: poppins, sans-serif;
}

.card p {
    font-size: 16px;
    color: #666;
    padding: 0 20px 20px;
    font-family: poppins, sans-serif;
}

/* container3 styles */
.container3 {
    margin-top: 100px;
    padding-left: 200px;
}

.container3 h1 {
    font-size: 50px;
    color: #333;
    font-family: poppins, sans-serif;
    justify-items: center;
    align-items: center;
    padding-left: 250px;
}

.container3 p {
    font-size: 20px;
    color: #666;
    font-family: poppins, sans-serif;
    justify-content: center;
    align-items: center;
}

.cont-txt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.Text1-cont3 h4 {
    margin: 0 0 10px;
    color: #e65100;
    font-family: poppins, sans-serif;
    font-size: 34px;
}

.Text1-cont3 p {
    font-size: 24px;
    color: #333;
    font-family: poppins, sans-serif;
    margin-bottom: 20px;
}

.Text2-cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn-cont3 {
    /*Posicionamiento del botón*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /*dieseño del botón*/
    background-color: #ce3e3e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.btn-cont3 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: poppins, sans-serif;
}

.btn-cont3:hover {
    background-color: #d42d2d;
    transition: background-color 0.3s ease;
}

.fas.fa-search {
    margin-right: 10px;
    font-size: 20px;
    /* Que el icono se se voltee*/
    transform: rotate(90deg);
}

/* contenido de objetos perdidos */
.container4 {
    margin-top: 100px;
}

.container4 h1 {
    font-size: 50px;
    color: #333;
    font-family: poppins, sans-serif;
    justify-items: center;
    align-items: center;
    padding-left: 50px;
}

.container4 samp {
    font-size: 20px;
    padding-left: 50px;
    color: #666;
    font-family: poppins, sans-serif;
    justify-content: center;
    align-items: center;
}

/* Ajuste de posición del ancla */
.item {
    position: relative;
    top: -100px;
    /* Ajusta este valor según la altura de tu barra de navegación */
}

/* Formulario de búsqueda */
.container5 h1 {
    margin-top: 100px;
    font-size: 36px;
    color: #333;
    font-family: poppins, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    padding: 20px;
    background-color: #e4e3e3;
    border-radius: 10px;
    margin: 40px auto;
    width: max-content;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.formulario input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formulario input[type="submit"] {
    padding: 10px 20px;
    background-color: #ce3e3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario input[type="submit"]:hover {
    background-color: #b32c2c;
}

.formulario input[type="file"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formulario label {
    font-size: 18px;
    color: #333;
    font-family: poppins, sans-serif;
    margin-right: 10px;
}

.formulario textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formulario select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.from1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.from2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.from3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.from4 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.from5 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.from5 button {
    width: 300px;
    padding: 10px;
    background-color: #ce3e3e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.from5 button:hover {
    background-color: #b32c2c;
    transition: background-color 0.3s ease;
}

.from6 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.from7 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 400px;
    max-height: 300px;
    display: flex;
    justify-content: center;
}

.from7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.from8 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.from8 p {
    font-size: 16px;
    color: #333;
    font-family: poppins, sans-serif;
    margin-top: 10px;
}

/* footer styles 
footer {
    background-color: #ce3e3e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
} /*

/* Celulares: 6" a 6.8" (~320px a 480px) */
@media (max-width: 480px) {
.container {
    grid-template-columns: 1fr;
    margin-top: 80px;
    padding: 10px;
}

.container h1,
.container p,
.container2 h1,
.container3 h1,
.container3 p,
.container4 h1,
.container4 samp {
    font-size: 24px;
    padding-left: 20px;
    text-align: center;
}

.container-cards {
    grid-template-columns: 1fr;
    justify-items: center;
}

.card {
    width: 90%;
    height: auto;
}

.formulario {
    grid-template-columns: 1fr;
    width: 90%;
}

.from7 {
    grid-row: auto;
    grid-column: auto;
}

.container5 h1 {
    font-size: 24px;
}

.btn-cont3 {
    flex-direction: column;
    padding: 10px;
}
}

/* Tablets: 8" a 11" (~481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
.container {
    grid-template-columns: 1fr;
    margin-top: 100px;
}

.container h1,
.container p,
.container2 h1,
.container3 h1,
.container3 p,
.container4 h1,
.container4 samp {
    font-size: 32px;
    padding-left: 30px;
    text-align: center;
}

.container-cards {
    grid-template-columns: repeat(2, 1fr);
}

.card {
    width: 90%;
    height: auto;
}

.formulario {
    grid-template-columns: 1fr;
    width: 90%;
}

.container5 h1 {
    font-size: 28px;
}
}

/* Laptops: 13" a 15" (~769px a 1440px) */
@media (min-width: 769px) and (max-width: 1440px) {
.container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
}

.container-cards {
    grid-template-columns: repeat(3, 1fr);
}

.formulario {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}

.container5 h1 {
    font-size: 32px;
}
}

/* Computadoras de escritorio: 21" a 27" (~1441px en adelante) */
@media (min-width: 1441px) {
.container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 150px;
}

.container-cards {
    grid-template-columns: repeat(3, 1fr);
}

.formulario {
    grid-template-columns: repeat(2, 400px);
    width: max-content;
}

.container5 h1 {
    font-size: 36px;
}
}
/*xdddddd*/
